icontract>=2.6.1,<3
aas-core-meta@git+https://github.com/aas-core-works/aas-core-meta@e3707bf#egg=aas-core-meta
aas-core-codegen@git+https://github.com/aas-core-works/aas-core-codegen@5a5be978#egg=aas-core-codegen
